body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 10px;
}

.ingredientCheckbox {
    margin-right: 5px;
}
.recipe-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
    max-width: 250px;
    transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card img {
    max-width: 100%;
    height: auto;
}

.recipe-card h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
}

#hover-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #hover-button.visible {
    display: block;
  }